IIBLabInterfaces/FuncionarioServico_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://indracompany.com/funcionario" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://indracompany.com/funcionario" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:element ibmSchExtn:docRoot="true" name="BuscarTodos">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="BuscarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarTodosResult" nillable="true" type="tns:ArrayOfFuncionario"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfFuncionario">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Funcionario" nillable="true" type="tns:Funcionario"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario" nillable="true" type="tns:ArrayOfFuncionario"/>
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DataFim" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DataInicio" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="IdFuncionario" type="xs:int"/>
      <xs:element minOccurs="0" name="IdPessoa" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SobreNome" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario"/>
  <xs:element ibmSchExtn:docRoot="true" name="BuscarPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="BuscarPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarPorIdResult" nillable="true" type="tns:ArrayOfFuncionario"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="Criar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcionario" nillable="true" type="tns:Funcionario"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="CriarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CriarResult" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="Atualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funcionario" nillable="true" type="tns:Funcionario"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="AtualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="Deletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="DeletarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>