IIBLabInterfaces/FuncionarioServico.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="FuncionarioServico" targetNamespace="http://indracompany.com/funcionario" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://indracompany.com/funcionario" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="FuncionarioServico_InlineSchema2.xsd"/>
        <generatedXSD location="FuncionarioServico_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/">
      <xsd:include schemaLocation="FuncionarioServico_InlineSchema2.xsd"/>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://indracompany.com/funcionario" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
      <xsd:include schemaLocation="FuncionarioServico_InlineSchema1.xsd"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IFuncionarioServico_BuscarTodos_InputMessage">
    <wsdl:part element="tns:BuscarTodos" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_BuscarTodos_OutputMessage">
    <wsdl:part element="tns:BuscarTodosResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_BuscarPorId_InputMessage">
    <wsdl:part element="tns:BuscarPorId" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_BuscarPorId_OutputMessage">
    <wsdl:part element="tns:BuscarPorIdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_Criar_InputMessage">
    <wsdl:part element="tns:Criar" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_Criar_OutputMessage">
    <wsdl:part element="tns:CriarResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_Atualizar_InputMessage">
    <wsdl:part element="tns:Atualizar" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_Atualizar_OutputMessage">
    <wsdl:part element="tns:AtualizarResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_Deletar_InputMessage">
    <wsdl:part element="tns:Deletar" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IFuncionarioServico_Deletar_OutputMessage">
    <wsdl:part element="tns:DeletarResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="IFuncionarioServico">
    <wsdl:operation name="BuscarTodos">
      <wsdl:input message="tns:IFuncionarioServico_BuscarTodos_InputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/BuscarTodos"/>
      <wsdl:output message="tns:IFuncionarioServico_BuscarTodos_OutputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/BuscarTodosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <wsdl:input message="tns:IFuncionarioServico_BuscarPorId_InputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/BuscarPorId"/>
      <wsdl:output message="tns:IFuncionarioServico_BuscarPorId_OutputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/BuscarPorIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Criar">
      <wsdl:input message="tns:IFuncionarioServico_Criar_InputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/Criar"/>
      <wsdl:output message="tns:IFuncionarioServico_Criar_OutputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/CriarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <wsdl:input message="tns:IFuncionarioServico_Atualizar_InputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/Atualizar"/>
      <wsdl:output message="tns:IFuncionarioServico_Atualizar_OutputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/AtualizarResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Deletar">
      <wsdl:input message="tns:IFuncionarioServico_Deletar_InputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/Deletar"/>
      <wsdl:output message="tns:IFuncionarioServico_Deletar_OutputMessage" wsaw:Action="http://indracompany.com/funcionario/IFuncionarioServico/DeletarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
    <wsdl:binding name="IFuncionarioServicoHttpBinding" type="tns:IFuncionarioServico">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BuscarTodos">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Criar">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deletar">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
    <wsdl:service name="IFuncionarioServicoHttpService">
    <wsdl:port binding="tns:IFuncionarioServicoHttpBinding" name="IFuncionarioServicoHttpPort">
      <soap:address location="/IIBLabIntegrationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>